body
{
    background-color: #ffffff;
    min-width: 100vw;
    min-height: 100vh;
}

.fundo
{
    background-image: url(./imagens/fundo1.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 55vh;
}

.p-fundo
{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.line
{
    width: 100%;
    height: 2px;
    background-color: aliceblue;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff00;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.round-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.round-button:active {
    transform: scale(0.95);
}

.modelo
{
    margin-bottom: 40px;
    margin-top: 40px;
    width: 1150px;
    height: 650px;
}

.btn-conf
{
    border-radius: unset;
    color: aliceblue;
    background-color: #173d1c;
}

.hr
{
    height: 1px;
    width: 100%;
    background-color: rgb(30, 41, 54);
}

.principal
{
    background-color: #173d1c;
    height: 516px;
    width: 700px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.principal:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.principal:active {
    transform: scale(0.95);
}

.foto
{
    height: 466px;
}

.secundario
{
    background-color: aqua;
    height: 250px;
    width: 450px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.secundario:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.secundario:active {
    transform: scale(0.95);
}

.foto2
{
    height: 200px;
}

.card-footer
{
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 50px;
}

.info
{
    background-color: #ffffff;
    border: 2px;
    border-color: cadetblue;
    max-width: 60px;
    height: 31px;
    border-radius: 8%;
}